{% extends 'base.html' %}
{% load static %}
{% block title %}Take prescription{% endblock title %}
{% block main-content %}
<div class="container bg-light">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Take Prescription</h3>
            <hr>
            <form action="" method="POST" novalidate class="shadow p-5 ">
                {% csrf_token %}

                <div class="form-group">
                    <label for="Fullname">FullName</label>
                    <input class="form-control" type="text" name="fullname" id="Fullname">
                    <label for="phone">Phone</label>
                    <input class="form-control" type="text" name="phone" id="phone">
                    <label for="email">email</label>
                    <input class="form-control" type="text" id="email" name="doctor">

                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary mt-4" value="press">
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}